<div>
	<form>
		<input type="text">
		<button type="submit" value="Buscar">Buscar</button>
	</form>
	<% @client.search("#ayotzinapa OR #ayot2inapa OR #AyotzinapaDosAños", result_type: "recent").take(1).collect do |tweet| %>
		<p><%= "#{tweet.created_at}" %></p>
		<p><%= "#{tweet.id}" %></p>
		<p><%= "#{tweet.text}" %></p>
		<p><%= "#{tweet.retweet_count}" %></p>
		<p><%= "#{tweet.favorite_count}" %></p>
		<p><%= "#{tweet.entities?}" %></p>
		
	<% end %>
</div>
